<section class="succeeded__stats">
  <ul>
    <li>
      <strong><%= @diag.co2.round 2 %></strong>
      grammes de CO2 <br>
      par visite de la page
    </li>
    <li>
      <strong><%= number_to_percentage @diag.co2_budget, precision: 1 %></strong>
      du budget carbone <br>
      d'une personne
    </li>
    <li>
      <strong><%= number_to_percentage @diag.overweight, precision: 0 %></strong>
      <% if @diag.overweight > 0 %>
        de surpoids
      <% end %>
      par rapport <br>
      à la cible d'1 mo
    </li>
  </ul>
  <div class="gauge">
    <span class="gauge__legend gauge__legend--worst">Les pires pages du Web</span>
    <span class="gauge__score" style="left: <%= @diag.websitecarbon_score %>%">
      <%= @diag.websitecarbon_score %>%
    </span>
    <span class="gauge__legend gauge__legend--best">Les meilleures pages du Web</span>
  </div>
</section>

<section class="succeeded__resume">
  <div>
    <h2>En résumé</h2>
    <div class="phone">
      <img src="<%= @diag.screenshot %>" alt="Capture d'écran de la page" width="280" height="498">
    </div>
  </div>
  <div>
    <p>Cette page génère <%= @diag.co2.round 2 %> grammes de CO<sub>2</sub> à chaque visite</p>
    <p>
      Cette estimation est effectuée par <a href="https://www.websitecarbon.com/" target="_blank" rel="noreferrer">Website Carbon Calculator</a>,
      et intègre le transfert des données sur le réseau, la consommation électrique du réseau et des data centers et l’intensité carbone moyenne de l’électricité.
      Si vous avez 10.000&nbsp;vues chaque mois (votre site est certainement au-dessus),
      vous générez <%= @diag.co2_per_year.round %>&nbsp;kg de CO<sub>2</sub> par an.
    </p>
    <p>
      <% if @diag.total_byte_weight < Diag::THRESHOLD_GOOD %>
        C'est très bien !
        La page évaluée pèse <%= number_to_human_size @diag.weight %>.
        En dessous de <%= number_to_human_size Diag::THRESHOLD_GOOD %>, nous considérons que la page est sobre.
        Attention, ça ne veut pas dire que votre site n'émet pas de carbone du tout, mais qu’il en émet peu.
      <% elsif @diag.total_byte_weight < Diag::THRESHOLD_CORRECT %>
        C'est plutôt bien.
        La page évaluée pèse <%= number_to_human_size @diag.weight %>.
        En dessous de <%= number_to_human_size Diag::THRESHOLD_CORRECT %>, nous considérons que la page est acceptable.
        Cela étant, vous pouvez encore améliorer la sobriété du site en diminuant encore le poids de page,
        pour passer sous les <%= number_to_human_size Diag::THRESHOLD_GOOD %> que nous considérons comme sobre !
      <% elsif @diag.total_byte_weight < Diag::THRESHOLD_BAD %>
        La situation est assez grave, la page est trop grosse.
        La page évaluée pèse <%= number_to_human_size @diag.weight %>,
        ce qui correspond à un surpoids de <%= number_to_percentage @diag.overweight, precision: 0 %>
        par rapport aux <%= number_to_human_size Diag::THRESHOLD_GOOD %> que nous considérons comme sobre.
      <% else %>
        La situation est grave, la page est énorme.
        La page évaluée pèse <%= number_to_human_size @diag.weight %>,
        ce qui correspond à un surpoids de <%= number_to_percentage @diag.overweight, precision: 0 %>
        par rapport aux <%= number_to_human_size Diag::THRESHOLD_GOOD %> que nous considérons comme sobre.
      <% end %>
      Ce poids correspond à la moitié du seuil de <%= number_to_human_size Diag::THRESHOLD_CORRECT %> pour une page correcte qu’a proposé
      <a href="thttps://developer.akamai.com/blog/2015/06/11/page-bloat-average-web-page-size-more-2mb" target="_blank" rel="noreferrer">
          Tammy Everts, sur le blog Akamai
      </a>.
    </p>
    <p>
      Cette page représente <%= number_to_percentage @diag.co2_budget, precision: 1 %>
      du budget carbone à moins de 2 tonnes de CO₂ par personne
      <a href="https://datagir.ademe.fr/blog/budget-empreinte-carbone-c-est-quoi/" target="_blank" rel="noreferrer">
        recommandé par l’ADEME dès 2020
      </a>.
      Si vous avez <%= @diag.co2_equivalent_person.ceil %> pages comme celles-là sur votre site, l’empreinte carbone du site équivaut à celle d'un humain ayant un style de vie soutenable.
    </p>
  </div>
</section>

<div>
  <section class="succeeded__why">
    <h2>Pourquoi agir ?</h2>
    <div>
      <div>
        <i class="icon icon--user"></i>
        <h3>Pour vos utilisateurs</h3>
        <p>
          Un site plus léger, c'est une meilleure expérience. Cela impacte positivement votre image de marque.
        </p>
      </div>
      <div>
        <i class="icon icon--economique"></i>
        <h3>Pour votre activité</h3>
        <p>
          Un site plus rapide, c'est une meilleure performance business. Réduire le temps de chargement de 850 millisecondes <a href="https://www.nccgroup.trust/globalassets/resources/uk/case-studies/web-performance/cook-case-study.pdf" target="_blank" rel="noreferrer">a augmenté les conversions de COOK de 7%</a>. Cela a aussi <a href="https://web.dev/why-speed-matters/" target="_blank" rel="noreferrer">de nombreux autres impacts positifs</a>.
        </p>
      </div>
      <div>
        <i class="icon icon--ecologique"></i>
        <h3>Pour votre RSE</h3>
        <p>
          Multipliez l’empreinte carbone de vos pages par le nombre de pages visitées sur votre site, et vous avez un indicateur chiffré que vous pouvez intégrer dans votre rapport de performance extra-financière.
        </p>
      </div>
    </div>
  </section>
</div>

<section class="succeeded__action">

  <div>
    <div>
      <h2>Comment agir ?</h2>
    </div>
    <div>
      <div class="collapse">
        <input type="checkbox" id="recommandations">
        <label role="button" for="recommandations">En savoir plus sur nos recommandations techniques</label>
        <div>
          <% if @diag.images_weight > Diag::THRESHOLD_GOOD %>
            <p>
              Vous pouvez optimiser les images : cette page télécharge <%= @diag.images_count %> image<%= 's' if @diag.images_count > 1%>,
              pour un poids total de <%= number_to_human_size @diag.images_weight %>. Il y a 3 grands principes pour optimiser les images&nbsp;:
            </p>
            <ol>
              <li>redimensionner correctement (une image trop grande, c'est du poids pour rien)</li>
              <li>compresser correctement (par exemple avec le format webp)</li>
              <li>proposer au navigateur un ensemble d'options (pour qu’il prenne automatiquement la meilleure taille et la meilleure compression, en utilisant les balises picture et source).</li>
            </ol>
          <% end %>
          <p>
            Vous pouvez optimiser la vitesse de chargement de la page et de toutes ses dépendances. Chaque élément téléchargé doit être le plus léger possible, d'autant plus que votre page en sollicite <%= @diag.number_of_requests %>&nbsp;! Le serveur a également une grande importance à ce sujet.
          </p>
          <p>
            À ce propos, peut-être utilisez-vous WordPress, ou un autre système de gestion de contenu qui nécessite une base de données et un langage serveur, comme PHP. Si c'est le cas, cela ralentit votre site et crée des risques de sécurité. De nombreux sites peuvent être précompilés, c'est à dire que les fichiers HTML, CSS et JS sont préparés lors de chaque changement de contenu, et pas à chaque requête.
          </p>
          <p>
            Enfin, vos scores de bonnes pratiques (<%= number_to_percentage @diag.lighthouse_best_practices, precision: 0 %>),
            d'accessibilité (<%= number_to_percentage @diag.lighthouse_accessibility, precision: 0 %>)
            et de SEO (<%= number_to_percentage @diag.lighthouse_seo, precision: 0 %>) peuvent être montés à 100% sur toutes les pages.
            Cela passe par le respect des bonnes pratiques de développement Web et de SEO, des règles Opquast et des référentiels WCAG et RGAA.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>C'est tout ?</h2>
    </div>
    <div class="collapse">
      <input type="checkbox" id="indicateurs">
      <label role="button" for="indicateurs">Quelques indicateurs supplémentaires</label>
      <div>
        <p>
          Non, ce n’est pas tout. Nous ne mesurons pas ici l’énergie nécessaire pour produire les téléphones et ordinateurs des utilisatrices et utilisateurs, ni l’énergie pour les faire fonctionner, ni l’énergie pour les recycler ou les détruire, sans compter l’impact environnemental et social du processus. Quelques autres indicateurs nous permettent d'en savoir plus : performance, accessibilité, bonnes pratiques & SEO.
        </p>
        <p>
          Le score de performance de la page est de
          <%= number_to_percentage @diag.lighthouse_performance, precision: 0 %>.
          <% if @diag.lighthouse_performance < 90 %>
            En dessous de 90%, ce n'est pas bon, et cela donne l’impression que l’appareil utilisé (téléphone ou ordinateur) rame, et cela donne envie de changer l’appareil&nbsp;: on appelle cela l’obsolescence technologique stimulée. l’impact écologique est désastreux.
          <% else %>
            C'est très bien&nbsp;! La page se charge rapidement, de façon stable visuellement, et donne une impression de fluidité technique.
          <% end %>
        </p>
        <p>
          Le score d'accessibilité de la page est de
          <%= number_to_percentage @diag.lighthouse_accessibility, precision: 0 %>.
          <% if @diag.lighthouse_accessibility < 90 %>
            En dessous de 90%, ce n'est pas bon, cela signifie que certains utilisateurs et certaines utilisatrices ne pourront pas utiliser correctement votre site. De plus,
          <% else %>
            C'est très bien&nbsp;! Attention toutefois,
          <% end %>
          l’accessibilité ne se limite pas à un score Google Lighthouse, de nombreux éléments peuvent être problématiques pour certaines personnes sans être détectés par ce test. La seule solution fiable pour garantir l’accessibilité de votre site et le respect du WCAG et du RGAA est de construire le site avec des professionnelles et des professionnels de l’accessibilité, à toutes les étapes&nbsp;: stratégie, design et développement. Aucune solution technique ne se substitue par magie à cela.
        </p>
        <p>
          Le score de respect des bonnes pratiques de la page est de
          <%= number_to_percentage @diag.lighthouse_best_practices, precision: 0 %>.
          <% if @diag.lighthouse_best_practices < 90 %>
            En dessous de 90%, il y a vraiment des efforts à faire, et cela peut avoir un impact sur la sécurité du site.
            De plus,
          <% elsif @diag.lighthouse_best_practices < 100 %>
            C'est bien ! Encore quelques points à régler, et ce sera parfait.
            Attention,
          <% else %>
            C'est parfait !
            Attention toutefois,
          <% end %>
          tous les problèmes de sécurité ne sont pas détectés par Google Lighthouse. Il convient dans tous les cas de sécuriser correctement l’infrastructure avec l’équipe d'hébergement, et le site avec l’équipe de développement. Dans le contexte du RGPD, ce n'est pas un détail&nbsp;: l’impact financier, juridique et réputationnel d'un défaut de sécurité peut être grave.
        </p>
        <p>
          Le score d'optimisation du référencement naturel (SEO) de la page est de
          <%= number_to_percentage @diag.lighthouse_seo, precision: 0 %>.
          <% if @diag.lighthouse_seo < 90 %>
            Un effort est indispensable.
          <% else %>
            C'est bien !
          <% end %>
          Le référencement naturel est composé de plusieurs facettes : nous mesurons ici uniquement l’aspect technique. La pertinence du contenu est essentielle, et la qualité des liens menant vers votre site a une grande importance.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>Je passe à l’action !</h2>
    </div>
    <div>
      <p>
        La première chose à faire est d'en parler avec votre équipe, qu’elle soit interne (designers et développeurs intégrés), externe (agence ou freelances) ou mixte. Vous pouvez leur partager cette page, et utiliser les outils de diagnostic et approches que nous  partageons pour entrer dans un processus d'amélioration continue de votre site. Certaines solutions nécessitent une refonte (ex: passer à un site précompilé), mais d'autres sont plus simples à mettre en œuvre (ex: mieux optimiser les images).
      </p>
      <p>
        Si vous préférez, nous serons heureux de vous accompagner. Vous pouvez découvrir notre coopérative de développeurs <a href="https://www.noesya.coop/" target="_blank" rel="noreferrer">sur notre site www.noesya.coop</a>.
        <!--Nous nous concentrons sur le développement de votre site, et nous partageons <a href="https://reseau.noesya.coop/" target="_blank" rel="noreferrer">un réseau de personnes et d'organisation de grande qualité</a>. Détail qui a son importance, nous sommes des artisans, pas des commerçants&nbsp;: nous ne margeons pas sur les prestations tierces que nous refacturons. Si vous nous demandez de gérer le design, l’accessibilité et le développement de votre site, et que vous souhaitez que nous facturions l’ensemble, nous refacturerons les prestations de design et d'accessibilité à prix coûtant. Nous partageons <a href="https://gouvernance.noesya.coop/" target="_blank" rel="noreferrer">tous nos choix de gouvernance sur ce site</a>.-->
      </p>
      <div>
        <picture>
          <source sizes="(max-width: 576px) 300px, (max-width: 991px) 40vw, (max-width: 1439px) calc(50vw - 100px)" srcset="https://d33wubrfki0l68.cloudfront.net/d8acda3b70c9a06385c9a507f01b67480bb7e8f2/b3ea8/generated/assets/images/members/sebastien-moulene/portrait-300-c43b537ea.webp 300w, https://d33wubrfki0l68.cloudfront.net/2b9ac12f459c953050e0a1a3fc35a3f415e8546b/a0645/generated/assets/images/members/sebastien-moulene/portrait-413-c43b537ea.webp 413w, https://d33wubrfki0l68.cloudfront.net/7af394b831402b1d12189806db523f95fe85a5c7/fc111/generated/assets/images/members/sebastien-moulene/portrait-520-c43b537ea.webp 520w, https://d33wubrfki0l68.cloudfront.net/6975ed85b18906d4b225489369af08e394dacffd/c2b12/generated/assets/images/members/sebastien-moulene/portrait-558-c43b537ea.webp 558w, https://d33wubrfki0l68.cloudfront.net/1e99c8524ac5df55d4bf033e0cb403df42346586/dcb39/generated/assets/images/members/sebastien-moulene/portrait-618-c43b537ea.webp 618w, https://d33wubrfki0l68.cloudfront.net/dbcedbc6d61a664d5be483f01174886e7b792889/2ba23/generated/assets/images/members/sebastien-moulene/portrait-630-c43b537ea.webp 630w, https://d33wubrfki0l68.cloudfront.net/bc1ebc5ffaa98e65c58e0791d7d81c46732967c9/43dbf/generated/assets/images/members/sebastien-moulene/portrait-645-c43b537ea.webp 645w, https://d33wubrfki0l68.cloudfront.net/b765d25c6cd0d0431402f65a6b585aac0d96f029/1f1be/generated/assets/images/members/sebastien-moulene/portrait-826-c43b537ea.webp 826w, https://d33wubrfki0l68.cloudfront.net/d3f3c2c6d7b1bdb1eb2420d69c6ee4bc862835a2/ba713/generated/assets/images/members/sebastien-moulene/portrait-874-c43b537ea.webp 874w, https://d33wubrfki0l68.cloudfront.net/68125d62f118a85fa03ee106e8ed37587803abd9/8bc0b/generated/assets/images/members/sebastien-moulene/portrait-1290-c43b537ea.webp 1290w" type="image/webp">
          <source sizes="(max-width: 576px) 300px, (max-width: 991px) 40vw, (max-width: 1439px) calc(50vw - 100px)" srcset="https://d33wubrfki0l68.cloudfront.net/754b847d757d332c3ea03631c7f1014d7bf8fdb6/89bb5/generated/assets/images/members/sebastien-moulene/portrait-300-ae3dae847.jpg 300w, https://d33wubrfki0l68.cloudfront.net/f6d48ef1fc618b52a70871c1fc92f7f573e25373/eb3a4/generated/assets/images/members/sebastien-moulene/portrait-413-ae3dae847.jpg 413w, https://d33wubrfki0l68.cloudfront.net/7214ea40e7da31d1ba6840f30ab7c90c3475c4fa/4e593/generated/assets/images/members/sebastien-moulene/portrait-520-ae3dae847.jpg 520w, https://d33wubrfki0l68.cloudfront.net/1b2e59ffaa2b3e4a866e0799424bc7eb78042868/108e1/generated/assets/images/members/sebastien-moulene/portrait-558-ae3dae847.jpg 558w, https://d33wubrfki0l68.cloudfront.net/99e769ec1618b16b248c0a3abc0a471e60822a3b/2c5c6/generated/assets/images/members/sebastien-moulene/portrait-618-ae3dae847.jpg 618w, https://d33wubrfki0l68.cloudfront.net/b7d9c8d57fd6ac917550c3d48d214ee95ca857df/8675b/generated/assets/images/members/sebastien-moulene/portrait-630-ae3dae847.jpg 630w, https://d33wubrfki0l68.cloudfront.net/441c6756fac371826bcfbbee8bc379d9a7f01874/132fc/generated/assets/images/members/sebastien-moulene/portrait-645-ae3dae847.jpg 645w, https://d33wubrfki0l68.cloudfront.net/5ae2e26332653655f0f15a449523586c48b17610/e3b30/generated/assets/images/members/sebastien-moulene/portrait-826-ae3dae847.jpg 826w, https://d33wubrfki0l68.cloudfront.net/deecb587cea5e810daa0c49cc0cad99c5f7f65d7/1138a/generated/assets/images/members/sebastien-moulene/portrait-874-ae3dae847.jpg 874w, https://d33wubrfki0l68.cloudfront.net/7fc6a9d38f98098eb6e56181b74b9e4967b2d6b2/347e1/generated/assets/images/members/sebastien-moulene/portrait-1290-ae3dae847.jpg 1290w" type="image/jpeg">
          <img alt="Sébastien Moulène" loading="lazy" src="https://d33wubrfki0l68.cloudfront.net/cdd5ae8aa844bcd26383a49cb94f2ad668f8d198/3ab97/generated/assets/images/members/sebastien-moulene/portrait-800-ae3dae847.jpg" width="1920" height="1920">
        </picture>
        <p>Si vous pensez que nous pouvons vous aider, <br><a href="https://calendly.com/sebastienmoulene/noesya-et-les-sites-eco-concus" target="_blank" rel="noreferrer">prenez rendez-vous avec Sébastien en cliquant ici.</a></p>
      </div>
    </div>
  </div>
</section>
