<h1><%= @diag %></h1>

<%= @diag.number_of_requests %> requêtes<br>
<%= number_to_human_size @diag.total_byte_weight %><br>
Performance <%= @diag.lighthouse_performance %><br>
Accessibilité <%= @diag.lighthouse_accessibility %><br>
SEO <%= @diag.lighthouse_seo %><br>
Bonnes pratiques <%= @diag.lighthouse_best_practices %><br>
<%= @diag.co2 %> co2 <br>
