<% content_for :title, @diag.to_s %>

<header>
  <h1><%= @diag %></h1>
</header>

<section>
  <h2>Cette page génère <%= @diag.co2.round 2 %> grammes de CO<sub>2</sub> par vue</h2>
    <p>
      Cette estimation est effectuée par <a href="https://www.websitecarbon.com/" target="_blank" rel="noreferrer">Website Carbon Calculator</a>,
      et intègre le transfert des données sur le réseau, la consommation électrique du réseau et des data centers et l'intensité carbone moyenne de l'électricité.
      Si vous avez 10.000 vues chaque mois (votre site est certainement au-dessus),
      vous générez <%= @diag.co2_per_year.round %> kg de CO<sub>2</sub> par an.
    </p>

  <h2>C'est grave, docteur ?</h2>
  <p>
    <% if @diag.total_byte_weight < Diag::THRESHOLD_GOOD %>
      Non, c'est très bien !
      La page évaluée pèse <%= number_to_human_size @diag.weight %>.
      En dessous de <%= number_to_human_size Diag::THRESHOLD_GOOD %>, nous considérons que la page est sobre.
      Attention, ça ne veut pas dire que votre site n'émet pas de carbone du tout, mais qu'il en émet peu.
    <% elsif @diag.total_byte_weight < Diag::THRESHOLD_CORRECT %>
      Non, c'est plutôt bien.
      La page évaluée pèse <%= number_to_human_size @diag.weight %>.
      En dessous de <%= number_to_human_size Diag::THRESHOLD_CORRECT %>, nous considérons que la page est acceptable.
      Cela étant, vous pouvez encore améliorer la sobriété du site en diminuant encore le poids de page,
      pour passer sous les <%= number_to_human_size Diag::THRESHOLD_GOOD %> que nous considérons comme sobre !
    <% elsif @diag.total_byte_weight < Diag::THRESHOLD_BAD %>
      Oui, c'est assez grave.
      La page évaluée pèse <%= number_to_human_size @diag.weight %>,
      ce qui correspond un surpoids de <%= number_to_percentage @diag.overweight, precision: 0 %>
      par rapport aux <%= number_to_human_size Diag::THRESHOLD_GOOD %> que nous considérons comme sobre.
    <% else %>
      Oui, c'est très grave.
      La page évaluée pèse <%= number_to_human_size @diag.weight %>,
      ce qui correspond un surpoids de <%= number_to_percentage @diag.overweight, precision: 0 %>
      par rapport aux <%= number_to_human_size Diag::THRESHOLD_GOOD %> que nous considérons comme sobre.
    <% end %>
    Cette page représente <%= number_to_percentage @diag.co2_budget, precision: 1 %>
    du budget carbone à moins de 2 tonnes de CO₂ par personne
    <a href="https://datagir.ademe.fr/blog/budget-empreinte-carbone-c-est-quoi/" target="_blank" rel="noreferrer">
      recommandé par l'ADEME dès 2020
    </a>.
    Si vous avez <%= @diag.co2_equivalent_person.ceil %> pages comme celles-là sur votre site (et vous en avez certainement beaucoup plus), l'empreinte carbone du site équivaut à celle d'un humain ayant un style de vie soutenable.
  </p>

  <h2>C'est tout ?</h2>

  <p>
    Non, ce n'est pas tout. Nous ne mesurons pas ici l'énergie nécessaire pour produire les téléphones et ordinateurs des utilisatrices et utilisateurs, ni l'énergie pour les faire fonctionner, ni l'énergie pour les recycler ou les détruire, sans compter l'impact environnemental et social du processus. Quelques autres indicateurs nous permettent d'en savoir plus : performance, accessibilité, bonnes pratiques & SEO.
  </p>
  <p>
    Le score de performance de la page est de
    <%= number_to_percentage @diag.lighthouse_performance, precision: 0 %>.
    <% if @diag.lighthouse_performance < 90 %>
      En dessous de 90%, ce n'est pas bon, et cela donne l'impression que l'appareil utilisé (téléphone ou ordinateur) rame, et cela donne envie de changer l'appareil&nbsp;: on appelle cela l'obsolescence technologique stimulée. L'impact écologique est désastreux.
    <% else %>
      C'est très bien&nbsp;! La page se charge rapidement, de façon stable visuellement, et donne une impression de fluidité technique.
    <% end %>
  </p>
  <p>
    Le score d'accessibilité de la page est de
    <%= number_to_percentage @diag.lighthouse_accessibility, precision: 0 %>.
    <% if @diag.lighthouse_accessibility < 90 %>
      En dessous de 90%, ce n'est pas bon, cela signifie que certains utilisateurs et certaines utilisatrices ne pourront pas utiliser correctement votre site. De plus,
    <% else %>
      C'est très bien&nbsp;! Attention toutefois,
    <% end %>
    l'accessibilité ne se limite pas à un score Google Lighthouse, de nombreux éléments peuvent être problématiques pour certaines personnes sans être détectés par ce test. La seule solution fiable pour garantir l'accessibilité de votre site, et le respect du WCAG et du RGAA est de construire le site avec des professionnelles et des professionnels de l'accessibilité, à toutes les étapes&nbsp;: stratégie, design et développement. Aucune solution technique ne se substitue par magie à cela.
  </p>
  <p>
    Le score de respect des bonnes pratiques de la page est de
    <%= number_to_percentage @diag.lighthouse_best_practices, precision: 0 %>.
    <% if @diag.lighthouse_best_practices < 90 %>
      TODO
    <% else %>
      TODO
    <% end %>
  </p>
  <p>
    Le score d'optimisation du référencement naturel (SEO) de la page est de
    <%= number_to_percentage @diag.lighthouse_seo, precision: 0 %>.
    <% if @diag.lighthouse_seo < 90 %>
      TODO
    <% else %>
      TODO
    <% end %>
  </p>

  <h2>Comment puis-je agir ?</h2>

  <p>
    Optimisation des images
    TODO
  </p>

  <p>
    Optimisation de la vitesse de chargement
    TODO
  </p>

  <p>
    Passage à un site précompilé
    TODO
  </p>

  <p>
    Respect des bonnes pratiques de développement Web, des règles Opquast, des référentiels WCAG et RGAA et des bonnes pratiques de SEO
    TODO
  </p>

  <h2>Quel est l'intérêt d'agir ?</h2>

  <p>
    Pour vos utilisateurs : meilleure expérience
    TODO
  </p>

  <p>
    Pour votre activité : meilleure performance
    TODO
  </p>

  <p>
    Pour le bien commun : meilleure responsabilité sociale et environnementale
  </p>

  <h2>Je passe à l'action !</h2>

  <p>
    La première chose à faire est d'en parler avec votre équipe, qu'elle soit interne (designers et développeurs intégrés), externe (agence ou freelances) ou mixte. Vous pouvez leur partager cette page, et utiliser les outils de diagnostic et approches que nous  partageons pour entrer dans un processus d'amélioration continue de votre site. Certaines solutions nécessitent une refonte (ex: passer à un site précompilé), mais d'autres sont plus simples à mettre en œuvre (ex: mieux optimiser les images).
  </p>


  <p>
    Si vous préférez, nous serons heureux de vous accompagner. Vous pouvez découvrir notre coopérative de développeurs <a href="https://www.noesya.coop/" target="_blank" rel="noreferrer">sur notre site www.noesya.coop</a>. Nous nous concentrons sur le développement de votre site, et nous partageons <a href="https://reseau.noesya.coop/" target="_blank" rel="noreferrer">un réseau de personnes et d'organisation de grande qualité</a>. Détail qui a son importance, nous sommes des artisans, pas des commerçants&nbsp;: nous ne margeons pas sur les prestations tierces que nous refacturons. Si vous nous demandez de gérer le design, l'accessibilité et le développement de votre site, et que vous souhaitez que nous facturions l'ensemble, nous refacturerons les prestations de design et d'accessibilité à prix coûtant. Nous partageons <a href="https://gouvernance.noesya.coop/" target="_blank" rel="noreferrer">tous nos choix de gouvernance sur ce site</a>.
  </p>

  <p>
    <a href="https://calendly.com/sebastienmoulene/noesya-et-les-sites-eco-concus" target="_blank" rel="noreferrer">
      <img src="https://www.noesya.coop/assets/images/members/sebastien-moulene/portrait.jpg" alt="Sébastien Moulène" width="200"><br>
      Si vous pensez que nous pouvons vous aider, prenez rendez-vous avec Sébastien en cliquant ici.
    </a>
  </p>
</section>
