<%= content_for :title, 'Admin' %>
<main aria-label="Content" class="index">
  <header>
    <h1>Admin</h1>
  </header>
  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">URL</th>
          <th scope="col">Views</th>
          <th scope="col">Website Carbon</th>
          <th scope="col">Status</th>
          <th scope="col">Weight</th>
          <th scope="col">CO2</th>
        </tr>
      </thead>
      <tbody>
        <% @diags.each do |diag| %>
          <tr>
            <th scope="row"><%= link_to diag.url, diag_path(diag, quiet: true) %></th>
            <td><%= diag.views %></td>
            <td><%= diag.websitecarbon_score %></td>
            <td><%= diag.status %></td>
            <td><%= number_to_human_size diag.total_byte_weight %></td>
            <td><%= diag.co2.round 2 %> g</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>
