<% description = 'Effectuez un diagnostique de la qualité écologique de votre site web. Situez-vous par rapport au reste du web.' %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/signifier/signifier-web-regular.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/signifier/signifier-web-regular-italic.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/signifier/signifier-bold.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="preload" as="font" href="https://assets.noesya.coop/fonts/soehne/soehne-web-buch.woff2" type="font/woff2" crossOrigin="anonymous">
    <link rel="stylesheet" href="https://www.noesya.coop/assets/css/theme.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <title><%= yield :title %> • noesya</title>
    <meta name="description" content="<%= description %>">
    <meta property="og:title" content="<%= yield :title %> • noesya"/>
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="https://www.noesya.coop/assets/images/share/share.jpg">
    <meta property="og:url" content="https://diagnostic.noesya.coop/">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="<%= yield :title %> • noesya">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="https://www.noesya.coop/assets/images/share/share.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="noesya_coop">
    <meta property="twitter:url" content="https://diagnostic.noesya.coop/">
    <link rel="icon" type="image/png" href="https://assets.noesya.coop/images/share/favicon.png" />

  </head>
  <body>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
